<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>

    <p>Completed Count: {{count}}</p>

    <form @submit.prevent="addTodo">
        <select v-model="filter">
            <option value="all">전체 할 일 보기</option>
            <option value="completed">완료된 할 일 보기</option>
            <option value="uncompleted"s>미완료된 할 일 보기</option>
        </select>
        <br>

      <input type="text" v-model="newTodo">
      <input type="submit" value="Add">
    </form>

    <ul>
      <li v-for="todo in filteredTodos" :key="todo.id">
        <input type="checkbox" v-model="todo.isCompleted" @change="updateCount">
        <span :class="{ 'is-completed': todo.isCompleted }">{{ todo.text }}</span>
        <button @click="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref, computed,watch } = Vue

    const app = createApp({
      setup() {


        const todos = ref([])
        const newTodo = ref('')
        const count=ref('0')
        const filter = ref('uncompleted')

        const addTodo = function () {
          if (newTodo.value.trim() !== '') {
            const todoObj = {
              id: Date.now(),
              text: newTodo.value,
              isCompleted: false
            }
            todos.value.push(todoObj)
            newTodo.value = ''
          }
        }

        const deleteTodo = function (todoId) {
          const index = todos.value.findIndex(todo => todo.id === todoId)
          if (index !== -1) {
            todos.value.splice(index, 1)
          }
        }

        const updateCount=()=>{
            count.value=todos.value.filter(todo=>todo.isCompleted).length
        }

        const countWatch=watch(todos, () => {
          updateCount()}, { deep: true }
        )

        const filteredTodos = computed(() => {
          if (filter.value === 'completed') {
            return todos.value.filter(todo => todo.isCompleted)
          } else if (filter.value === 'uncompleted') {
            return todos.value.filter(todo => !todo.isCompleted)
          } else {
            return todos.value
          }
        })

        return { 
            todos, 
            newTodo, 
            count,
            filter,
            updateCount,
            addTodo, 
            deleteTodo,
            filteredTodos
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
